fastapi==0.111.0
openai==1.37.1
python-dotenv==1.0.0
uvicorn==0.29.0
SQLAlchemy==2.0.30
psycopg2==2.9.9
requests==2.32.2
starlette==0.37.2
pydantic==2.7.1
google-generativeai==0.7.0
#unstructured[all-docs]
google-cloud-aiplatform==1.56.0
llama-index-vector-stores-pinecone==0.1.7
llama-index-core==0.10.48
llama-index-embeddings-openai==0.1.10
llama-index-llms-openai==0.1.22
llama-index-readers-file==0.1.25
llama-index-llms-vertex==0.2.0
llama-index==0.10.48.post1
tqdm==4.66.4
cohere==5.5.8
llama-index-postprocessor-cohere-rerank==0.1.7
razorpay==1.4.2
python-dateutil==2.9.0.post0
jsonschema==4.23.0
python-keycloak==4.2.3
opencv-python==4.10.0.84
dlib==19.24.2
pytesseract==0.3.10
matplotlib==3.9.1
scikit-image==0.24.0
easyocr==1.7.1
pillow==10.4.0
crewai==0.41.1
crewai_tools==0.4.26
langchain-community==0.2.10
stripe==10.5.0